

<head>
 {% load  staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

 <style>
     h3{
         color: #0b2671;
        font-family: S-CoreDream-3Light;
     }

 </style>

</head>


<body><center>

    <div class="back">
        <img src="{% static '../media/images/photographer_bar.png' %}" alt="back-a">
    </div>
    <div class="bar">
        <a href="">로그아웃</a>
        <a href="">마이페이지</a>
        <a href="">게시판</a>
        <a id="end" href="{% url 'model' %}">모델</a>
    </div>

    <br><br><br><br><br><br>
 <center>
    <h3>보고 싶은 사진의 키워드를 선택하세요!</h3>

                <div class="btn-group" role="group" aria-label="...">
                    <a href="{% url 'filter_orient' %}"><button type="button" class="btn btn-default">동양풍</button></a>
                    <a href="{% url 'filter_western' %}"><button type="button" class="btn btn-default">서양풍</button></a>
                    <a href="{% url 'filter_classic' %}"><button type="button" class="btn btn-default">고전</button></a>
                    <a href="{% url 'filter_modern' %}"><button type="button" class="btn btn-default">현대</button></a>
                </div>
     <div class="bts">
          <a href="{% url 'post' %}"><button type="button" class="btn btn-default navbar-btn">사진 더하기</button></a>
     </div>


    </center>
    <br><br>
        <ul>
            {% for photo in object_list %}
                <a href="{% url 'photo_detail' photo.id %}"><img src="{{ photo.thumbnail.url }}" width="260" height="260" alt = "{{ photo.title }}"></a>
            {% endfor %}
        </ul>

    <br>
      {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}


    </center>
</body>