<!-- temlaptes/home.html -->


<head>
    {% load  staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


    <style>
     h3{
         color: #0b2671;
        font-family: S-CoreDream-3Light;
     }

 </style>

</head>


<body>
<div class="back">
        <img src="{% static '../media/images/model_bar.png' %}" alt="back">
    </div>
    <div class="bar">
        <a href="">로그아웃</a>
        <a href="">마이페이지</a>
        <a href="">게시판</a>
        <a href="{% url 'model' %}">모델</a>
        <a id="end" href="{% url 'photo' %}">작가</a>
    </div>
    <br><br><br><br><br><br>
    <center>
    <h3>키워드 - 서양풍</h3>
    <div class="btn-group" role="group" aria-label="...">
                    <a href="{% url 'filter_orient' %}"><button type="button" class="btn btn-default">동양풍</button></a>
                    <a href="{% url 'filter_classic' %}"><button type="button" class="btn btn-default">고전</button></a>
                    <a href="{% url 'filter_modern' %}"><button type="button" class="btn btn-default">현대</button></a>
                </div>

 <div class="bts">
        <a href="{% url 'post' %}"><button type="button" class="btn btn-default navbar-btn">사진 더하기</button></a>
    </div>
    <br>
    <br>

    {% for western in post_western %}
        <a href="{% url 'detail' western.id %}"><img src="{{ western.thumbnail.url }}" width="260" height="260"></a>
    {% endfor %}


 {% if is_paginated %}
  <ul class="pagination">
    {% if western.has_previous %}
      <li><a href="?page={{ western.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if western.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if western.has_next %}
      <li><a href="?page={{ western.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</body>